	<!-- LATEST ITEMS =============================-->
    <section class="item content">
        <div class="container">
            <div class="underlined-title">
                <div class="editContent">
                    <h1 class="text-center latestitems">LATEST ITEMS</h1>
                </div>
                <div class="wow-hr type_short">
                    <span class="wow-hr-h">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4" *ngFor="let category of categories">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">{{category?.name}}</h5>
                          <p>
                            This is a short excerpt to generally describe what the item is about.
                       </p>
                       <p>
                        <a *ngIf="'Admin' | permission" class="btn btn-dark">Edit</a>
                        <a *ngIf="'Admin' | permission" class="btn btn-danger">Delete</a>
                      </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>